#### Series

In [24]:
import pandas as pd

In [26]:
pd

In [28]:
df_Prec = pd.read_csv("C:\\Users\\jesic\\GIT_HUB\\SQL\\DATASCIENCE\\JUPYTER_NOTEBOOKS\\07.1 Precipitaciones.csv")

In [30]:
df_Prec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   region      52 non-null     object
 1   enero       52 non-null     float64
 2   febrero     52 non-null     float64
 3   marzo       52 non-null     float64
 4   abril       52 non-null     float64
 5   mayo        52 non-null     float64
 6   junio       52 non-null     float64
 7   julio       52 non-null     float64
 8   agosto      52 non-null     float64
 9   septiembre  52 non-null     float64
 10  octubre     52 non-null     float64
 11  noviembre   52 non-null     float64
 12  diciembre   52 non-null     float64
 13  anual       52 non-null     float64
dtypes: float64(13), object(1)
memory usage: 5.8+ KB

In [32]:
df_Prec.head(3)

,region,enero,febrero,marzo,abril,mayo,junio,julio,agosto,septiembre,octubre,noviembre,diciembre,anual
0,A CORUNA,240.5,293.4,31.0,80.6,149.5,108.9,44.6,21.8,96.5,154.5,100.8,214.8,1536.9
1,ALBACETE,68.1,28.0,26.2,65.3,25.4,50.0,2.0,34.5,48.0,44.8,33.1,14.1,439.5
2,ALICANTE,49.2,3.7,63.2,85.8,57.2,20.0,9.2,5.0,44.0,41.1,47.4,1.8,427.6

In [39]:
serie_Prec = df_Prec["region"] #asigno la columna ["n"]
serie_Prec.head(3)

0    A CORUNA
1    ALBACETE
2    ALICANTE
Name: region, dtype: object

#### Serie es un arreglo unidimensional, 1 Columna - n Filas

In [37]:
serie_Prec = df_Prec["enero"] #asigno la columna ["n"]
serie_Prec.head(3)

0    240.5
1     68.1
2     49.2
Name: enero, dtype: float64

##### CREO NEW VAR

In [41]:
d = [1,2,3,4]
r = pd.Series(d)
r

0    1
1    2
2    3
3    4
dtype: int64

In [43]:
type(d)

list

#### Cambiando indices de Series

In [46]:
nombres = ['Ana', 'Bruno', 'Carla', 'David', 'Elena']
ind = [ "a", "b","c","d","e"] #letras que seran mis indices 
type(ind)

list

In [48]:
ind2 = pd.Series(nombres,ind) #creo nueva variable que tendra (elementos, indices)
ind2

a      Ana
b    Bruno
c    Carla
d    David
e    Elena
dtype: object

In [50]:
ind2["d"]

'David'

In [52]:
type(ind2)

pandas.core.series.Series

In [54]:
type(ind2["d"])

str

#### Diccionario a Series

In [68]:
capitales = {
    'Argentina': 'Buenos Aires',
    'Brasil': 'Brasilia',
    'Canadá': 'Ottawa',
    'Dinamarca': 'Copenhague',
    'Egipto': 'El Cairo'
}

In [66]:
capitales #LLAMO COMO DICCIONARIO

{'Argentina': 'Buenos Aires',
 'Brasil': 'Brasilia',
 'Canadá': 'Ottawa',
 'Dinamarca': 'Copenhague',
 'Egipto': 'El Cairo'}

In [72]:
serieCapitales = pd.Series(capitales) #ASIGNO DICC A VAR

In [76]:
serieCapitales #LLAMO COMO SERIE

Argentina    Buenos Aires
Brasil           Brasilia
Canadá             Ottawa
Dinamarca      Copenhague
Egipto           El Cairo
dtype: object