#### ¿Qué es Pandas?
- **Definición**: Pandas es una biblioteca de software (paquete) que agrega funcionalidades a Python para la manipulación y el análisis de datos.
- **Usos Principales**: Se utiliza principalmente para la limpieza de datos, análisis exploratorio, y visualización de datos estadísticos.

#### Importancia de Pandas en Data Science
- **Facilita el Manejo de Datos**: Pandas simplifica el manejo de datos, para enfocarnos en el análisis.
- **Adaptado a Diferentes Fuentes de Datos**: Puede trabajar con una variedad de formatos de datos, como CSV, Excel, bases de datos SQL, entre otros.
- **Esencial para Análisis de Datos**: Es una herramienta clave en cualquier flujo de trabajo de Data Science para la preparación y exploración de datos.

#### Importación de Pandas
- **¿Dónde está Pandas?**: A pesar de que Pandas no forma parte de la estructura original de Python, es una librería adicional que Anaconda instaló en nuestro ordenador al mismo momento que instaló Python.
- **Importar Pandas**: A pesar de que ya está instalado, debes importarlo a tu entorno de trabajo (cuaderno) para utilizarlo en el código de python.
- **Comando de importación**: ```import pandas as pd```

In [94]:
import pandas as pd #pd es como un alias estandar para cuando lo invoco solo llamo a la variable

In [59]:
type(pd)

module

#### TIPOS DE DATOS


- ** DATAFRAMES --> FILAS 
- ** SERIES --> COLUMNAS
- ** Tiene dos dimensiones
- Series: Una sola dimension, una columna. Indice y Valor.

In [63]:
dates = {
    "Nombre" : [ "Kalel", "Maggie" , "Sila "], #KEY con una LIST de 3 ELEMENTS
    "Edad" : [ 8 , 5 , 9 ]      
}
dates

{'Nombre': ['Kalel', 'Maggie', 'Sila '], 'Edad': [8, 5, 9]}

In [65]:
firstDf = pd.DataFrame(dates)
firstDf

   Nombre  Edad
0   Kalel     8
1  Maggie     5
2   Sila      9

In [74]:
type(df)

pandas.core.frame.DataFrame

In [76]:
type(pd)

module

#### Series:
Array de 1 sola dimencion, tiene etiquetas para sus elementos. Atributos y dimensiones

In [82]:
firstDf["Nombre"]

0     Kalel
1    Maggie
2     Sila
Name: Nombre, dtype: object

In [86]:
firstDf.Nombre

0     Kalel
1    Maggie
2     Sila
Name: Nombre, dtype: object

In [88]:
type(firstDf.Nombre)

pandas.core.series.Series

In [96]:
print(pd.__version__)

2.2.2